.footer{
    background: linear-gradient(to bottom left, #ffccff 0%, #6600ff 100%);
}
.footer img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.nombre{
    font-family: 'Fasthand', cursive;
    font-size: 1.4em;
}
.red_social i{
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 25px #ccc;
}