.banner{
    background-image:url('../assets/img/masajes.jpg');
    background-size: 100%;
      
}
.frase_banner{
    top: 70px;
    right: 40px;
}
.frase_banner h3{
    color: #fff;
}
#servicios{
    padding: 20px 20px;
}
.card-group{
    /* background: rgba(141, 141, 219, 0.644); */
    border-radius: 15px;
    padding: 10px;
}
.card-body{
    background: #fdfd   ;
}
.card:hover{    
    opacity:0.6;
}
.card img{
    height: 20rem;
}
@media screen and (min-width: 576px) {
    .card {
      min-width: 265px;
      width: 476px;
    }
  }
@media screen and (min-width:768px){
    .banner{
        border-radius: 15px; 
        height:20rem;
    }
    .frase_banner{
       
        top: 70px;
        right: 100px;
    }
}
@media screen and (min-width:1400px){
    .banner{
        background-size: 100% 100%;
        border-radius: 15px; 
        height:30rem;
    }
    .frase_banner{
        top: 100px;
        right: 200px;
    }
    .frase_banner h3{
        font-size: 3rem;
    }
    .reserva1{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: 20rem;
        
    }
    .reserva1 p, a{
        font-size: 2rem;
    
    }
    .card-group{
      
        width: 100%;
      }
      .card{
        min-width:500px;
      }
    .card-text{
        font-size: 1.3rem;
    }
    .btn-reserva{
        padding: 20px 30px;
        font-size: 2rem;
    }
}
