.banner{
    background-image:url('../assets/img/bannerPrincipal.jpg');
    background-size: 100% 50%;    
}
.frase_banner{
    top: 60px;
    right: 20px;
}
#servicios {
  padding: 20px 20px;
}
.card:hover {
  opacity: 0.6;
}
.card p{
    font-size: 1.4rem;
}
.card img {
  height: 20rem;
}
.envudo {
  background: #e6e6fa;
}
h3{
    font-size: 1.4rem;
  }
@media screen and (min-width: 576px) {
  .card {
    min-width: 265px;
    width: 476px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    border-radius: 15px;
    height: 20rem;
    background-size: 100% 70%;
  }
  .frase_banner { 
    top: 20px;
    right: 100px;
  }
  .frase_banner h3, p{
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .banner {
    height: 30rem;
  }
  .frase_banner {
    top: 100px;
    right: 350px;
  }
  .reserva1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    }
    .reserva1 p, a{
    font-size: 2rem;
    }
    .card-group{
      
      width: 100%;
    }
    .card{
      min-width:500px;
    }
    .cite p{
      font-size: 2rem;
    }
    .btn-reserva{
      padding: 20px 30px;
      font-size: 2rem;
  }
}
