.header{
height: 5rem;
}
.nombre-negocio{
    font-family: 'Fasthand', cursive;
    font-size: 2rem;
}   
.menu_toogle{
    background: #E6E6FA;
}
.menu_toogle a{
    font-weight:700;
}
.banner{
    position: relative;
    width: 100%;
    height: 15rem;
    background-size:100% 70%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position-x:right;
    border-radius: 50%;
    
}
.frase_banner{
    position: absolute;
}
.reserva1{
    background: #f0ece6;
    padding: 20px 0; 
}
.reserva1 a{
    transition: all 1s ease;
}
.reserva1 a:hover{
    transform: scale(1.3);
}
.envudo a{
    font-size: 1.3rem;
    transition: all 2s ease;
}
.envudo a:hover{
    transform: scale(1.3);

}
.logo{
    width: 500px;
    background: transparent;
  }
  .dropdown-menu{
    background: #E6E6FA;
  }
  .dropdown-item{
    font-size: 1rem;
  }
@media screen and (min-width:768px){
    .header{
        height: 80px;
    }
}
